.card_video{
    flex-basis: 285px;
}

.card__video-img{
    height: 146px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.card__video-set{
    position: relative;
}

.card__video-set::before{
    content: url('../img/watch.png');
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.62);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    left: calc(50% - 18px);
    top: 30%;
    border: none;
    transition: border 0.3s ease-in-out,
       background 0.3s ease-in-out,
       width 0.3s ease-in-out, 
       height 0.3s ease-in-out;
}

.card__video-set:hover::before{
    background: #FFFFFF;
}

.card__video-set:active::before{
    width: 42px;
    height: 42px;
    background: #FFFFFF;
}

.card__video-set:focus::before{
    background: rgba(255, 255, 255, 0.62);
    border: 1px solid #9B9B9B;
}

.card__img {
    flex-basis: 255px;
}

.card__photo-img{
    height: 206px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card__product{
    flex-basis: 285px;
}

@media(max-width: 1000px){
    .card__img{
        flex-basis: 210px;
    }
    .card__photo-img{
        height: 180px;
    }
}

@media(max-width: 850px){
    .card{
        flex-basis: 320px;
    }
    .card__video-img{
        height: 180px;
    }
    .card__photo-img{
        height: 270px;
    }
}

@media(max-width: 750px){
    .card{
        flex-basis: 100%;
    }
    .card__video-img{
        height: calc((100vw - 78px)/ 4 * 2);
    }
    .card__photo-img{
        height: calc((100vw - 78px)/ 5 * 4);
    }
    .card__video-set::before{
        top: 40%;
    }
}

@media(max-width: 480px){
    .card{
        flex-basis: 100%;
    }
    .card__video-img{
        height: calc((100vw - 30px)/ 4 * 2);
    }
    .card__photo-img{
        height: calc((100vw - 30px)/ 5 * 4);
    }
}